<h1>Blocmarks</h1>
<p>Save and share all your favorite bookmarks.</p>
<% @topics.each do |topic| %>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to topic.title, topic %>

      <%= link_to "Daleet da topik",  topic_path(topic), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>
    </h4>
  </div>
</div>
<% end %>

<div class="col-md-4">
  <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
</div>
