<h1><%= @topic.title %></h1>
<%= link_to "Daleet", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>

<% @topic.bookmarks.each do |bookmark| %>
  <div>
    <%= link_to bookmark.url, topic_path(@topic, bookmark) %>
  </div>
</div>
<% end %>
