<div class="container">
  <h1>All Likes</h1>
    <% @bookmarks.each do |bookmark| %>
        <% if bookmark.likes.present? %>
          <div class="col-md-4 panel panel-default panel-body">
            <%= link_to bookmark.url %>
            <div class="pull-right"><%= bookmark.likes.count %></div>
          </div>
        <% end %>
    <% end %>
</div>
